@import "tailwindcss";

/* TOAST APPEAR (CENTER) */
@keyframes toast-slide {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-toast-slide {
  animation: toast-slide 0.25s ease-out;
}

/* PROGRESS BAR */
@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-toast-progress {
  animation: toast-progress 2.5s linear forwards;
}
